* {
    background-color: #ffeead;
    margin: 10px;
}


#Odin {
    color: #811111;
}

.container {
    padding: 10px;
    list-style-type: none;
    border: 5px solid #ffcc5c;
    display: flex;
}

.container>li {
    display: inline-block;
    border: 3px solid #811111;
    border-radius: 10px;
    margin-right: 30px;
    background-color: #4180dd;
    flex: 1;
    font-size: 2em;
    text-align: center;
}

.container>li a {
    background-color: #4180dd;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}

.container>li a:hover {
    background-color: none;
    color: #ffcc5c;
    text-transform: uppercase;
    text-decoration: none;
}

.ingredients {
    display: flex;
    border-radius: 10px;
    margin-right: 30px;
    list-style-type: square;
    text-align: center;
}

.ingredients>li {
    padding-inline-end: 15px;
}