.header {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;

}

.navlinks {
    margin-left: 50px;
    /* ver se é possivel deixar isso diferente */
    margin-right: 50px;
    /* ver se é possivel deixar isso diferente */
    display: flex;
    justify-content: space-around;
}

.navlinks>ul>li {
    /* Headerlinktxt */
    list-style-type: none;
    padding: 10px;
    display: inline-flex;
}

.navlinks>ul>li>a {
    /* Headerlinktxt */
    text-decoration: none;
    color: #E5E7EB;
}

.navlinks>h1 {
    /* Logo */
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    /*justify-self: flex-start;*/
}

.hero {
    padding: 10% 10% 10% 10%;
    
    display: flex;
    justify-content: space-around;
}

.hero>img{
    width: 50%;
    margin: 20px;
    height: auto;
}

.hero>h2 {
    /* Heromaintxt */
    font-size: 48px;
    margin: 20px;
    color: #F9FaF8;
    text-align: left;
}

.hero>p {
    /* Hero2ndtxt */
    margin: 20px;
    text-align: left;
}




.info {}

.quote {}